{% extends 'base.html.twig' %}

{% block title %}Fondo{% endblock %}

{% block body %}
    <h1>Fondo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fondo.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ fondo.titulo }}</td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td>{{ fondo.isbn }}</td>
            </tr>
            <tr>
                <th>Editorial</th>
                <td>{{ fondo.editorial }}</td>
            </tr>
            <tr>
                <th>Edicion</th>
                <td>{{ fondo.edicion }}</td>
            </tr>
            <tr>
                <th>Publicacion</th>
                <td>{{ fondo.publicacion }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ fondo.categoria }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('c_r_u_d_fondo_index') }}">back to list</a>

    <a href="{{ path('c_r_u_d_fondo_edit', {'id': fondo.id}) }}">edit</a>

    {{ include('crud_fondo/_delete_form.html.twig') }}
{% endblock %}
