<ul id="menu">
  <li><a class="nav-link" href="{{ path('home') }}">Home</a></li>
  <li><a class="nav-link" href="{{ path('catalogo') }}">Catálogo JSON</a></li>
  <li><a class="nav-link" href="{{ path('c_r_u_d_fondo_index', {page: 1}) }}">Catálogo HTML</a></li>
  <li><a class="nav-link" href="{{ path('login') }}">Login</a></li>
  <li><a class="nav-link" href="{{ path('about') }}">Sobre Nosotros</a></li>
</ul>