{% extends 'base.html.twig' %}

{% block title %}Ficha{% endblock %}

{% block body %}

{% if fondo %}
  <h1>Ficha del libro </h1>

  <p>Título: {{ fondo.titulo }}</p>
  <p>ISBN: {{ fondo.isbn }}</p>
  <p>Editorial: {{ fondo.editorial.nombre }}</p>

  <p>Autores: 
  {% for autor in fondo.autores %} 
      <div>Nombre: {{ autor.nombre }} </div>
      <div>Tipo: {{ autor.tipo}} </div>
  {% else %} 
    <div>Anónimo / Desconocido</div>
  {% endfor %}
  </p>
{% else %}
<p>El libro no existe</p>

{% endif %}


<a href="{{ path('catalogo') }}">Volver al listado</a>


{% endblock %}
